# {{ ansible_managed }}
{% if dns_domain is defined %}
domain {{dns_domain}}
{% endif %}
{% for nameserver in dns_nameservers %}
nameserver {{nameserver}}
{% endfor %}
{% if dns_searchs is defined %}
search {{dns_searchs}}
{% endif %}
