# {{ ansible_managed }}
{% if dns_domain is defined and dns_domain %}
domain {{dns_domain}}
{% endif %}
{% for nameserver in dns_nameservers %}
nameserver {{nameserver}}
{% endfor %}
{% if dns_searchs is defined %}
search {% for name in dns_searchs %}{{name}} {% endfor %}

{% endif %}
{% if dns_options is defined %}
options {% for option in dns_options %}{{option}} {% endfor %}

{% endif %}
